.header-right {         /*used for header icons */
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header-btn {           /*used for header icons add btn*/
    width: 11px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    margin-left: 20px;
    transition: 0.3s;
    box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff;
    align-items: center;
    padding: 80%;
}
.cart-number {           /* its used for notification No add on top*/
    position: absolute;
    top: -10px;
    right: -10px;
    width: 22px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffffff;
    font-size: 12px;
    border: 1px solid #bfbfbf;
    color: #ff8243;
    padding-top: 20%;
}
.header-btn:hover {         /*add hover effect on btn*/
    background: linear-gradient(145deg, #dcdcdc, #ffffff);
    box-shadow: 20px 20px 60px #cfcfd0, -20px -20px 60px #ffffff;
}
.header-search-form {
    position: relative;
}

.for-des {
    display: block !important;
}
.header-search-form button {
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 48px;
    height: 100%;
    opacity: 0.5;
}
.header-search-form .form-input {     /*used for header search bar*/
    font-size: 14px;
    padding-right: 40px;
    width: 150px;
    height: 40px;
}
.form-input::placeholder {
    color: rgba(70 69 71 / 0.7);
}
.form-input {     /*used for search bar effect*/
    width: 100%;
    height: 50px;
    outline: none !important;
    padding: 10px 15px;
    color: #0d0d25;
    -webkit-appearance: none;
    border-radius: 10px;
    border: none;
    background: #f8f8f8;
    box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
}

* {                             /*used for chang icon color in headear search bar*/
    -webkit-tap-highlight-color: transparent;
}

.uil {
    color: #ff8243;
}

/********Home Section **********/

@media screen and (min-width: 992px) {
    #viewport {
        overflow: scroll;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.h1-title {
    font-size: 80px;
    line-height: 108px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 900;
    max-width: 45rem;
    margin-top: 80px;
    margin-left: 2rem;
    font-family: sans-serif;
}
.h1-title span {
    color: #ff8243;
    background-image: linear-gradient(0deg, rgb(13 13 37 /8%), rgb(13 13 37 /8%));
    background-size: 100% 15px;
    background-position: 0 90%;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}
h1, h2, h3, h4, h5, h6 {
    color: #0d0d25;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
p {
    font-size: 16px;
    line-height: 30px;
}
.sec-btn {         /*check menu btn*/
    min-width: 120px;
    min-height: 58px;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #0d0d25;
    text-transform: capitalize;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none !important;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 6px 30px;
    text-decoration: none;
}
.sec-btn:hover {       /*check menu btn hover*/
    border-color: #0d0d25;
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color: #0d0d25;
}
.cont{
    margin-left: 4rem;
    font-size: 1rem;
    max-width: 38rem;
}


.pbg{
  float: right;
  border-radius: 50%;
  margin-top: -30%;
  margin-right: 30px;
  animation: biani 4.5s linear infinite alternate;
  box-shadow: 0 0px 20px rgba(36, 39, 37, 0.3);
  height: auto;
  display: block;
  

 
}
@keyframes biani {
    0% {
        border-radius: 48% 52% 57% 43% / 34% 44% 56% 66%;
    }
    25% {
        border-radius: 62% 38% 64% 36% / 34% 55% 45% 66%;
    }
    50% {
        border-radius: 43% 57% 51% 49% / 33% 42% 58% 67%;
    }
    100% {
        border-radius: 40% 60% 43% 57% / 52% 32% 68% 48%;
    }
}
.img-h1{
    margin-left: 65%;
    font-size: 22px;
    margin-top: 0.20rem;
}

/*Brand Section*/
.brands-row {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    max-width: 50rem;
    
}

.brands-box {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.brands-box:hover {
    filter: brightness(0.3);
    opacity: 0.9;
}

.brand-title .h5-title-brand {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.7;
}
.brand-title-mb-5{
    padding-left: 10px;
    font-size: 30px;

}

/*About Section*/
.section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    text-align: center;
}

.sec-sub-title {
    text-transform: uppercase;
    display: inline-block;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #e4e4e4, -9px -9px 12px #ffffff;
    padding: 3px 20px;
    border-radius: 60px;
    color: #ff8243;
    font-size: 14px;
}
.sec-sub-title:hover{
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
}

.h2-title {
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 15px;
    text-transform: capitalize;
    position: relative;
}

.h2-title span, .h3-title span, .h4-title span, .h5-title span, .sub-title span {
    display: block;
}

.about-video-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 55vh;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    box-shadow: 0 0 20px rgb(36 39 37 / 30%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-btn {
    width: 90px;
    height: 90px;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    padding-left: 4px;
    padding-top: 4px;
    font-size: 40px;
}

.play-btn:hover {
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
}

.play-btn-wp {
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn-wp span {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #bfbfbf;
}
/* ****** scrollbar design ******** */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #bfbfbf;
}

::-webkit-scrollbar-thumb {
    background: #ff8243;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f16620;
}

/* **************** */

/* *******Menu Section********* */

.repeat-img {
    background-size: contain;
    background-repeat: repeat;
    background-color: #f88649;
    
}

.menu-tab-wp {
    margin-bottom: 80px;
    
}

.menu-tab ul {                   /*use for menu round shape bg*/
    padding: 10px;
    display: inline-block;
    border-radius: 60px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 10px 10px 15px #a7a6a6, -10px -10px 15px #dbdada;
    position: relative;
    z-index: 2;
}

.menu-tab ul li, .menu-tab ul .filter-active {
    display: inline-flex;
    text-transform: capitalize;
    font-size: 18px;
    line-height:30px;
    cursor: pointer;
    padding: 8px 36px;
    border-radius: 30px;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

.filter-active {
    position: absolute;
    left: 0;
    top: 12px;
    min-height: 50px;
    z-index: -1;
}

.menu-tab ul li img {
    margin-right: 10px;
    position: relative;
    top: 1px;
}

.menu-tab ul .filter-active {
    color: #ffffff;
    background: linear-gradient(145deg, #e3a92b, #ffc933);
}

.menu-list-row .bydefault_show .dish-box-wp {
    display: inline-block !important;
}

.dish-box-wp {
    display:none;
}

.dish-box {
    border-radius: 30px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 8px 8px 15px #bcbbbb, -8px -8px 15px #ffffff;
    display: flow-root;
    padding: 0 30px 40px;
    padding-top: 0;
    margin: 130px 0 30px;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.dish-box:hover {
    transform: scale(1.03);
}

.dist-img {
    margin-top: -100px;
    margin-bottom: 30px;
}

.dist-img img {
    box-shadow: 8px 8px 15px #d4d4d4, -8px -8px 15px #ffffff;
    border-radius: 50%;
    overflow: hidden;
}

.dish-rating {
    font-size: 20px;
    margin-bottom: 15px;
}

.dish-title {
    padding: 0 30px;
}

.dish-title .h3-title {
    text-transform: capitalize;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #0d0d25;
    transition: 0.3s;
    min-height: 76px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 900;
}

.dish-title p {
    color: #bfbfbf;
}

.dish-info ul, .dist-bottom-row ul {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.dish-info ul li {
    display: inline-block;
    flex: 1;
}

.dish-info ul li:last-child {
    text-align: right;
    border-left: 2px solid rgb(204 204 204 / 30%);
}

.dist-bottom-row ul li:last-child {
    text-align: right;
}

.dish-info ul li p {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 2px;
    font-weight: 300;
}

.dish-info ul li b {
    font-weight: 600;
}

.dish-info, .dist-bottom-row {
    padding: 0 30px;
}

.dish-info {
    border-bottom: 2px solid rgb(204 204 204 / 30%);
    margin: 30px 0 30px;
    padding-bottom: 30px;
}

.dist-bottom-row ul li {
    display: flex;
    align-items: center;
}

.dist-bottom-row ul li b {
    font-size: 30px;
}

.dish-add-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    transition: 0.3s;
    background: linear-gradient(145deg, #ffc954, #ffbc00);
    box-shadow: inset 4px 4px 8px #d6a029, inset -4px -4px 8px #ffd837;
}

.dish-add-btn i {
    color: #ffffff;
    font-size: 22px;
}

.dish-add-btn:hover {
    background: linear-gradient(145deg, #e3a92b, #ffc933);
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
}

/*Two big section*/
.xxl-title {
    text-transform: capitalize;
    font-size: 52px;
    line-height: 72px;
    margin-bottom: 30px;
    max-width: 300rem;
    
}

/*Table Book Section */
.book-table {
    overflow: hidden;
}

.book-table-shape img {
    position: absolute;
    top: -10px;
    right: 73%;
    width: 540px;
}

.book-table-shape.book-table-shape2 img {
    left: 74%;
    transform: scale(-1, 1);
}

.book-table-info {
    margin: 30px 0 20px;
}

.table-title {
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.table-title p {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

.call-now {
    border-left: 3px dotted rgb(13 13 37 /50%);
    border-right: 3px dotted rgb(13 13 37 /50%);
    padding: 15px 0;
}

.call-now i {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 26px;
    margin: 0 auto;
    margin-bottom: 25px;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
    color: #ff8243;
    
  
}

.call-now a {
    font-size: 32px;
    font-weight: 500;
    color: #0d0d25;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.call-now a:hover, .contact-info a:hover {
    color: #fcbc30;
    
   
}

/*Gallery Section*/
.bg {
  position: fixed;
  top: -0rem;
  left: -2rem;
  z-index: -1;
  opacity: -8;
  width: 18rem;
}

.bg2 {
  position: fixed;
  bottom: -2rem;
  right: -3rem;
  z-index: -1;
  width: 18.375rem;
  opacity: 100rem;
}
@media screen and (min-width: 48rem) {
  main {
    display: flex;
    align-items: center;
  }

  .bg,
.bg2 {
    opacity: 0.1;
  }
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/10 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*** Team Section**/
.team-slider {
    position: relative;
}

.team-box {
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 45px #e6e6e6, -28px -28px 45px #ffffff;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.team-box:hover {
    transform: scale(1.03);
}

.team-img {
    width: 100%;
    height: 480px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 9px 9px 18px rgb(194 194 194 /0.5), -9px -9px 18px rgb(255 255 255 / 0.5);
    background-repeat: no-repeat;
    background-size: cover;
}

.team-box .h3-title {
    text-transform: capitalize;
    color: #0d0d25;
    font-weight: 600;
}

.social-icon {
    margin: 15px 0px 10px;
}

.social-icon ul li {
    display: inline-block;
    margin: 0 6px;
}

.social-icon ul li:last-child {
    margin-right: 0;
}

.social-icon ul li:first-child {
    margin-left: 0;
}

.social-icon ul li a {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
    color: #0d0d25;
    font-size: 19px;
}

.social-icon ul li a:hover {
    background: #ff8243;
}

.social-icon ul li a:hover i {
    color: #ffffff !important;
}

/****Testimonials Section***/
.testimonials-img {
    position: relative;
    max-width: 900px;
    margin-left: 330px;
}

.testimonials-img img {
    position: absolute;
    top: 60px;
    right: 30px;
    width: calc(100% + 5vw);
    max-width: initial;
}

.testimonials-box {
    display: flow-root;
    position: relative;
    padding: 30px;
    padding-top: 0;
    border-radius: 30px;
    margin: 50px 0 30px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 45px #e6e6e6, -28px -28px 45px #ffffff;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    max-width: 600px;
}

.testimonials-box:hover {
    transform: scale(1.05);
    z-index: 2;
}

.testimonial-box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.testimonials-box-img {
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    margin-top: -50px;
    box-shadow: 10px 10px 60px #d4d4d4;
    background-size: cover;
}

.testimonials-box-text .h3-title {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.testimonials-box-text p {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.star-rating-wp {
    display: block;
}

.star-rating {
    font-size: 22px;
    position: relative;
    margin-top: 20px;
    display: inline-block;
}

.star-rating::before {
    content: "\f005\f005\f005\f005\f005";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    color: #c8c8c8;
    filter: drop-shadow(0 0.6rem 0.3rem rgba(0, 0, 0, 0.05));
    letter-spacing: 4px;
}

.star-rating__fill {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: fill-star 2s ease-in-out;
}

.star-rating__fill::after {
    content: "\f005\f005\f005\f005\f005";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    color: #ff8243;
    letter-spacing: 4px;
}

@keyframes fill-star {
    0% {
        width: 0;
    }
}


/****FAQ Section****/
.faq-row {
    column-count: 3;
    margin: 0 -5px;
}

.faq-box {
    border: 1px solid #f7a831;
    border-radius: 30px;
    background-image: linear-gradient(145deg, #f7d487, #ffffff);
    break-inside: avoid;
    margin: 0 5px 30px;
    box-shadow: 10px 10px 30px rgb(207 207 208 / 20%), -10px -10px 30px rgb(255 255 255 / 90%);
}

.faq-box .h4-title {
    padding: 16px 30px;
    border-bottom: 1px solid #bfbfbf;
    text-transform: capitalize;
    font-weight: 600;
}

.faq-box p {
    padding: 8px 30px 20px;
    margin: 0;
}
.faq-box:hover {
    transform: scale(1.05);
    z-index: 2;
}

/***Blog Section ****/
.blog-text .h4-title {
    text-transform: capitalize;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 900;
    font-family: "playfair Display";
    color: #0d0d25;
    transition: 0.3s;
}

.blog-text .h4-title:hover {
    color: #ff8243;
}

.blog-date {
    padding: 5px 15px;
    background: #f8f9fa;
    box-shadow: inset 5px 5px 10px #e2e2e2, inset -5px -5px 10px #e8e8e8;
    display: inline-block;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 20px;
}

.blog-img {
    width: 100%;
    height: 280px;
    border-radius: 30px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-box {
    padding: 30px 25px;
    border-radius: 30px;
    background: linear-gradient(145deg, #ececec, #fdfdfd);
    box-shadow: 30px 30px 50px #dcdcdc, -30px -30px 50px #ffffff;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    margin-bottom: 30px;
    width: 28%;
    float: inline-start;
    margin-left: 30px;
    
}

.blog-box:hover {
    transform: scale(1.03);
    z-index: 2;
}

/***News Section***/
.newsletter-box {
    padding: 60px;
    border-radius: 30px;
    position:relative;
    overflow: hidden;
   
}

.newsletter-form {
    margin-top: 20px;
    position: relative;
}

.newsletter-form button {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translate(0, -50%);
}

.newsletter-form .form-input {
    height: 68px;
    border-radius: 60px;
    padding: 0 150px 0 40px;
    background: linear-gradient(-145deg, #e4e4e4, #f9f9f9);
}

.newsletter-box-text {
    padding: 0 60px;
    color: #ffffff;
}

.newsletter-box-text .h2-title {
    color: #ffffff;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f8f9fa;
    opacity: 0.96;
}

.dark-overlay {
    background: #0d0d25;
    opacity: 0.5;
}

.sec-btn.primary-btn {
    background: linear-gradient(145deg, #e26a2c, #ff8243);
    color: #ffff;
    border: none;
    box-shadow: 4px 4px 8px #9e9e9e, -4px -4px 8px #ffffff;
}

.sec-btn.primary-btn:hover {
    background: linear-gradient(145deg, #0c0c21, #0e0e28);
}

/* ***************** footer ****************** */

.top-footer, .bottom-footer {
    border-top: 1px solid rgb(204 204 204 / 40%);
    position: relative;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-info .social-icon {
    margin-top: 20px;
}

.footer-flex-box {
    display: flex;
    margin: 0 -10px;
}

.footer-flex-box>div {
    flex: 1;
    padding: 0 10px;
}

.footer-flex-box .h3-title {
    text-transform: capitalize;
    margin-bottom: 23px;
}

.footer-menu ul li a {
    color: #0d0d25;
    transition: 0.3s;
    text-transform: capitalize;
    
}

.footer-menu ul li a:hover, .footer-menu ul li .footer-active-menu {
    color: #ff8243;
}

.footer-menu ul li {
    margin-bottom: 8px;
    

}

.footer-table-info ul li {
    margin-bottom: 10px;
    text-transform: capitalize;
    
}

.uil-clocl {
    font-size: 17px;
}

.copyright-text {
    padding: 20px 0;
}

.copyright-text p {
    margin: 0;
}

.name {
    color: #ff8243;
    font-weight: bold;
}

.scrolltop {
    position: absolute;
    bottom: 10px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
    color: #ff8243;
    font-size: 26px;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    border: none;
}

.scrolltop:hover {
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color: #0d0d25;
}

/* **************** responsiveness ***************** */

@media (min-width: 2100px) {
    .container {
        max-width: 1400px;
    }
    p, body, button, input {
        font-size: 18px;
        line-height: 32px;
    }
}

@media (max-width: 1399px) {
    .h1-title {
        font-size: 80px;
        line-height: 90px;
    }
    .h3-title {
        font-size: 26px;
        line-height: 36px;
    }
    .h4-title {
        font-size: 24px;
        line-height: 34px;
    }
    .h2-title {
        font-size: 38px;
        line-height: 48px;
    }
    .team-img {
        height: 400px;
    }
    .blog-box {
        padding: 30px 20px;
    }
    .dist-bottom-row ul li b {
        font-size: 25px;
    }
}

@media (max-width: 1199px) {
    .main-banner {
        padding: 200px 0;
    }
    .banner-img-wp {
        height: 360px;
    }
    .dish-box {
        padding: 0 0 40px;
    }
    .dist-img img {
        width: 220px;
    }
    .dist-img {
        margin-top: -110px;
    }
    .dist-bottom-row ul li b {
        font-size: 28px;
    }
    .sec-text {
        padding: 0;
    }
    .team-img {
        height: 340px;
    }
    .testimonials-box {
        padding: 30px 20px;
        margin: 26px 0 30px;
    }
    .testimonials-box-img {
        min-width: 80px;
        min-height: 80px;
        margin-top: -80px;
    }
    .faq-box .h4-title {
        padding: 16px 20px;
    }
    .faq-box p {
        padding: 8px 20px 20px;
    }
    .blog-img {
        height: 240px;
    }
    .newsletter-box-text {
        padding: 0;
    }
    .footer-flex-box>div {
        padding: 0 10px;
    }
    .star-rating {
        font-size: 19px;
    }
    .testimonial-box-top {
        margin-bottom: 10px;
    }
    .call-now a {
        font-size: 28px;
    }
    .menu-box {
        padding: 50px 20px 30px 20px;
    }
    .menu-img {
        width: 140px;
    }
}

@media (max-width: 991px) {
    .js-parallax-scene {
        display: none;
    }
    .main-banner {
        padding: 140px 0 60px;
    }
    .h1-title {
        font-size: 60px;
        line-height: 80px;
    }
    .banner-img-wp {
        padding: 0;
        height: 75vw;
        padding-top: 50px;
    }
    .brands-box {
        padding: 0 30px;
    }
    .brands-row {
        margin: 0 -30px;
    }
    .menu-tab ul {
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
    }
    .menu-tab::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        height: 100%;
        pointer-events: none;
        opacity: 0.2;
        border-radius: 0 60px 60px 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    }
    .sec-text {
        margin-top: 40px;
    }
    .call-now {
        border: none;
        margin: 40px 0;
        border-top: 3px dotted rgb(13 13 17 / 50%);
        border-bottom: 3px dotted rgb(13 13 17 / 50%);
        padding: 30px 0;
    }
    .book-table-info {
        max-width: 300px;
        margin: 30px auto 0;
    }
    .swiper-button-wp .swiper-button {
        display: none !important;
    }
    .testimonials-img img {
        position: unset;
        width: 100%;
    }
    .testimonials-img {
        margin-bottom: 60px;
    }
    .faq-row {
        column-count: 1;
        margin: 0;
    }
    .newsletter-box {
        padding: 40px;
    }
    .footer-info {
        margin-bottom: 50px;
    }
    .footer-flex-box {
        display: block;
        margin: 0;
    }
    .footer-flex-box>div {
        padding: 0;
        margin-bottom: 30px;
    }
    .faq-box {
        margin: 0;
        margin-bottom: 30px;
    }
    .footer-flex-box>div:last-child {
        margin: 0;
    }
    .scrolltop {
        bottom: 130px;
    }
    .footer-menu ul {
        max-width: 300px;
    }
    #gallery {
        padding-top: 90px;
    }
    .swiper-pagination-bullet {
        margin: 0 5px !important;
        width: 8px;
        height: 8px;
    }
    .swiper-pagination {
        padding: 6px 20px;
    }
    .swiper-button-wp {
        margin-top: 40px;
    }
    .swiper-pagination-bullet-active {
        width: 16px;
    }
    .dish-title .h3-title {
        display: block;
        min-height: auto;
        margin-bottom: 12px;
    }
    .menu-img {
        width: 180px;
        margin-inline: auto;
        margin-bottom: 20px;
    }
    #js-scroll-content {
        transform: unset !important;
    }
    body {
        height: auto !important;
    }
    .menu-tab ul::-webkit-scrollbar {
        height: 0;
    }
    .menu-tab {
        position: relative;
        display: flex;
    }
}

@media (max-width: 767px) {
    .banner-img-wp {
        height: 75vw;
        min-height: 60vw;
        width: auto;
    }
    .dist-img img {
        width: 180px;
    }
    .dist-img {
        margin-top: -80px;
    }
    .menu-tab-wp {
        margin-bottom: 60px;
    }
    .dish-box {
        margin: 80px 0 30px;
    }
    .book-table-img {
        min-height: 340px;
        height: 60vh;
    }
    .team-img {
        height: 430px;
    }
    .dish-info ul li p {
        font-size: 16px;
        line-height: 26px;
        margin: 0;
    }
    .dish-info ul li b {
        font-size: 14px;
    }
    .brands-box {
        padding: 0 25px;
    }
    .brands-row {
        margin: 0 -25px;
    }
    .menu-tab ul li {
        padding: 10px 20px;
    }
}

@media (max-width: 575px) {
    .container, .container-fluid {
        padding: 0 30px;
    }
    .h1-title {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 20px;
    }
    .h1-title span {
        background-size: 100% 8px;
    }
    .banner-img-wp {
        height: 90vw;
    }
    .about-video-img {
        height: 30vw;
        min-height: 280px;
        border-radius: 30px;
    }
    .brands-box {
        padding: 0 15px;
        flex: 0 0 33%;
        margin-bottom: 30px;
    }
    .brands-row {
        margin: 0 -15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .dish-box {
        max-width: 340px;
        margin: 80px auto 30px;
        padding: 0 0 30px;
    }
    .blog-sec.section {
        padding-bottom: 0;
    }
    .brands-box img {
        max-width: 80%;
    }
    .brand-title {
        text-align: center;
    }
    .play-btn {
        width: 70px;
        height: 70px;
    }
    .play-btn-wp span {
        font-size: 18px;
    }
    .newsletter-box {
        padding: 15px;
    }
    .newsletter-form .form-input {
        padding: 0 130px 0 12px;
    }
    .menu-box {
        display: block;
        text-align: center;
    }
    .menu-box-right .dish-title .h3-title {
        padding: 0;
    }
    .gallery-img {
        height: 50vw;
    }
    .contact-info a {
        font-size: 18px;
        line-height: 28px;
    }
}

@media (max-width: 480px) {
    .team-img {
        height: 330px;
    }
}

@media (max-width: 400px) {
    .container, .container-fluid {
        padding: 0 15px;
    }
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .newsletter-form button {
        position: unset;
        transform: translate(0);
        box-shadow: none !important;
        margin-top: 20px;
    }
    .newsletter-form .form-input {
        padding: 0 30px;
    }
    .team-box .h3-title {
        min-height: 72px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .team-img {
        height: 280px;
    }
    .blog-box {
        padding: 20px;
    }
}

